.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.banner_contents {
  position: absolute;
  width: 100%;
  opacity: 1;
  transition: all 0.55s ease;
}

.banner_contents.slide-left {
  opacity: 0;
  margin-right: 100%;
}

.banner_contents.slide-right {
  opacity: 0;
  margin-left: 100%;
}

.banner_contents.enter {
  transform: translateX(-100);
}
